In [19]:
import pandas as pd
import re

In [20]:
df_alt_of_mun = pd.read_excel("../Datasets/Altitude_of_municipalities.xlsx", engine="openpyxl")
df_alt_of_mun.head(10)

,COD_REG,COD_PRO,PRO_COM,NOME,SUPERFICIE (in KMQ),ALT_MIN,ALT_MAX,RANGE,MEDIA,MEDIANA,STD
0,12,58,58120,Fiumicino,213.8944,-3,164,167,31.688450,5,39.686070
1,5,29,29001,Adria,113.3900,-3,8,11,1.057863,1,1.244239
2,5,29,29030,Loreo,39.8442,-3,7,10,0.464185,0,0.770743
3,5,29,29052,Porto Viro,133.7686,-3,6,9,0.555705,1,0.553657
4,8,38,38017,Ostellato,173.3434,-3,8,11,1.784421,1,0.977924
5,5,27,27010,Cona,65.1121,-3,8,11,0.562878,0,0.982815
6,5,27,27008,Chioggia,187.9141,-3,6,9,0.638074,0,0.931072
7,5,27,27006,Cavarzere,140.4396,-3,10,13,0.705173,0,1.208494
8,5,27,27005,Caorle,153.8363,-3,5,8,1.039616,1,0.278419
9,5,27,27011,Concordia Sagittaria,66.8359,-2,5,7,2.133007,2,1.087725

In [21]:
df_alt_of_mun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_REG              8092 non-null   int64
 1   COD_PRO              8092 non-null   int64
 2   PRO_COM              8092 non-null   int64
 3   NOME                 8091 non-null   object
 4   SUPERFICIE (in KMQ)  8092 non-null   float64
 5   ALT_MIN              8092 non-null   int64
 6   ALT_MAX              8092 non-null   int64
 7   RANGE                8092 non-null   int64
 8   MEDIA                8092 non-null   float64
 9   MEDIANA              8092 non-null   int64
 10  STD                  8092 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 695.5+ KB

In [22]:
df_alt_of_mun.isna().sum()

COD_REG                0
COD_PRO                0
PRO_COM                0
NOME                   1
SUPERFICIE (in KMQ)    0
ALT_MIN                0
ALT_MAX                0
RANGE                  0
MEDIA                  0
MEDIANA                0
STD                    0
dtype: int64

In [23]:
df_alt_of_mun[df_alt_of_mun["NOME"].isna()]

,COD_REG,COD_PRO,PRO_COM,NOME,SUPERFICIE (in KMQ),ALT_MIN,ALT_MAX,RANGE,MEDIA,MEDIANA,STD
5252,1,1,1168,NaN,24.6425,236,261,25,244.6801,244,3.904581

In [24]:
df_alt_of_mun = df_alt_of_mun.dropna(subset=["NOME"])

In [25]:
df_alt_of_mun.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8091 entries, 0 to 8091
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COD_REG              8091 non-null   int64
 1   COD_PRO              8091 non-null   int64
 2   PRO_COM              8091 non-null   int64
 3   NOME                 8091 non-null   object
 4   SUPERFICIE (in KMQ)  8091 non-null   float64
 5   ALT_MIN              8091 non-null   int64
 6   ALT_MAX              8091 non-null   int64
 7   RANGE                8091 non-null   int64
 8   MEDIA                8091 non-null   float64
 9   MEDIANA              8091 non-null   int64
 10  STD                  8091 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 758.5+ KB

In [26]:
df_alt_of_mun.columns = ["Region_Code", "Province_Code", "Municipality_Code", "Name", "Surface(km^2)", "Min_Altitude", "Max_Altitude", "Range", "Average", "Median", "Standard_Deviation"]

In [27]:
df_alt_of_mun.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8091 entries, 0 to 8091
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Region_Code         8091 non-null   int64
 1   Province_Code       8091 non-null   int64
 2   Municipality_Code   8091 non-null   int64
 3   Name                8091 non-null   object
 4   Surface(km^2)       8091 non-null   float64
 5   Min_Altitude        8091 non-null   int64
 6   Max_Altitude        8091 non-null   int64
 7   Range               8091 non-null   int64
 8   Average             8091 non-null   float64
 9   Median              8091 non-null   int64
 10  Standard_Deviation  8091 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 758.5+ KB

In [28]:
df_alt_of_mun['Surface(km^2)'] = df_alt_of_mun['Surface(km^2)'].astype(str).str.replace(',', '.').astype(float)
df_alt_of_mun['Average'] = df_alt_of_mun['Average'].astype(str).str.replace(',', '.').astype(float)
df_alt_of_mun['Standard_Deviation'] = df_alt_of_mun['Standard_Deviation'].astype(str).str.replace(',', '.').astype(float)

In [29]:
df_alt_of_mun.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8091 entries, 0 to 8091
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Region_Code         8091 non-null   int64
 1   Province_Code       8091 non-null   int64
 2   Municipality_Code   8091 non-null   int64
 3   Name                8091 non-null   object
 4   Surface(km^2)       8091 non-null   float64
 5   Min_Altitude        8091 non-null   int64
 6   Max_Altitude        8091 non-null   int64
 7   Range               8091 non-null   int64
 8   Average             8091 non-null   float64
 9   Median              8091 non-null   int64
 10  Standard_Deviation  8091 non-null   float64
dtypes: float64(3), int64(7), object(1)
memory usage: 758.5+ KB

In [30]:
cleaned_df_altitude_of_municipalities = df_alt_of_mun
cleaned_df_altitude_of_municipalities.head()

,Region_Code,Province_Code,Municipality_Code,Name,Surface(km^2),Min_Altitude,Max_Altitude,Range,Average,Median,Standard_Deviation
0,12,58,58120,Fiumicino,213.8944,-3,164,167,31.688450,5,39.686070
1,5,29,29001,Adria,113.3900,-3,8,11,1.057863,1,1.244239
2,5,29,29030,Loreo,39.8442,-3,7,10,0.464185,0,0.770743
3,5,29,29052,Porto Viro,133.7686,-3,6,9,0.555705,1,0.553657
4,8,38,38017,Ostellato,173.3434,-3,8,11,1.784421,1,0.977924

In [31]:
cleaned_df_altitude_of_municipalities.to_pickle("../Cleaned_datasets/cleaned_df_altitude_of_municipalities.pkl")

In [32]:
# To load - df = pd.read_pickle("Cleaned_datasets/cleaned_df_altitude_of_municipalities.pkl")