In [1]:
import pandas as pd

In [2]:
# Read Covid Region file
df_covid_region=pd.read_excel("../Datasets/Covid_region.xlsx", engine="openpyxl")
df_covid_region.head()

,N.S,Data,Paese,Codice regione,Nome regione,Latitudine,Longitudine,Pazienti ospedalizzati,Pazienti in terapia intensiva,Totale pazienti ospedalizzati,Confinamento domiciliare,Casi positivi attuali,Nuovi casi positivi,Guariti,Morti,Casi positivi totali,Test eseguiti
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [3]:
df_covid_region.columns = df_covid_region.columns.str.strip() # Remove leading/trailing spaces
df_covid_region.columns = df_covid_region.columns.str.replace(" ", "_").str.lower() # Replace spaces with underscore and lower every name
print(df_covid_region.columns)

Index(['n.s', 'data', 'paese', 'codice_regione', 'nome_regione', 'latitudine',
       'longitudine', 'pazienti_ospedalizzati',
       'pazienti_in_terapia_intensiva', 'totale_pazienti_ospedalizzati',
       'confinamento_domiciliare', 'casi_positivi_attuali',
       'nuovi_casi_positivi', 'guariti', 'morti', 'casi_positivi_totali',
       'test_eseguiti'],
      dtype='object')

In [4]:
df_covid_region['data'] = df_covid_region['data'].str.split('T').str[0] # Split with 'T' and pick only first generated string
df_covid_region=df_covid_region.iloc[:,1:] # Remove the first column (index 0) from the dataframe by selecting all columns starting from index 1
df_covid_region.head()

,data,paese,codice_regione,nome_regione,latitudine,longitudine,pazienti_ospedalizzati,pazienti_in_terapia_intensiva,totale_pazienti_ospedalizzati,confinamento_domiciliare,casi_positivi_attuali,nuovi_casi_positivi,guariti,morti,casi_positivi_totali,test_eseguiti
0,2020-02-24,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,2020-02-24,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2020-02-24,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,2020-02-24,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,2020-02-24,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [5]:
df_covid_region.isna().sum() # Check NA sum

data                                0
paese                               0
codice_regione                      0
nome_regione                        0
latitudine                          0
longitudine                         0
pazienti_ospedalizzati              0
pazienti_in_terapia_intensiva       0
totale_pazienti_ospedalizzati       0
confinamento_domiciliare            0
casi_positivi_attuali               0
nuovi_casi_positivi                 0
guariti                             0
morti                               0
casi_positivi_totali                0
test_eseguiti                    1155
dtype: int64

In [6]:
len(df_covid_region.data.unique()) # Check for unique

287

In [7]:
len(df_covid_region.data.values) # Check for values

6027

In [8]:
print(df_covid_region['data'].value_counts().head(10)) # Check value counts

data
2020-12-06    21
2020-02-24    21
2020-02-25    21
2020-02-26    21
2020-02-27    21
2020-02-28    21
2020-02-29    21
2020-03-01    21
2020-03-02    21
2020-03-03    21
Name: count, dtype: int64

In [9]:
df_covid_region_filtered = df_covid_region[df_covid_region['nome_regione'] == "Lazio"] # Filter by Lazio region
print(df_covid_region_filtered['data'].value_counts().head(10))

data
2020-12-06    1
2020-02-24    1
2020-02-25    1
2020-02-26    1
2020-02-27    1
2020-02-28    1
2020-02-29    1
2020-03-01    1
2020-03-02    1
2020-03-03    1
Name: count, dtype: int64

In [10]:
df_covid_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   data                           6027 non-null   object
 1   paese                          6027 non-null   object
 2   codice_regione                 6027 non-null   int64
 3   nome_regione                   6027 non-null   object
 4   latitudine                     6027 non-null   float64
 5   longitudine                    6027 non-null   float64
 6   pazienti_ospedalizzati         6027 non-null   int64
 7   pazienti_in_terapia_intensiva  6027 non-null   int64
 8   totale_pazienti_ospedalizzati  6027 non-null   int64
 9   confinamento_domiciliare       6027 non-null   int64
 10  casi_positivi_attuali          6027 non-null   int64
 11  nuovi_casi_positivi            6027 non-null   int64
 12  guariti                        6027 non-null   int64
 13  morti                          6027 non-null   int64
 14  casi_positivi_totali           6027 non-null   int64
 15  test_eseguiti                  4872 non-null   float64
dtypes: float64(3), int64(10), object(3)
memory usage: 753.5+ KB

In [11]:
df_covid_region["data"] = pd.to_datetime(df_covid_region["data"]) # Convert data to datetime
df_covid_region.head()

,data,paese,codice_regione,nome_regione,latitudine,longitudine,pazienti_ospedalizzati,pazienti_in_terapia_intensiva,totale_pazienti_ospedalizzati,confinamento_domiciliare,casi_positivi_attuali,nuovi_casi_positivi,guariti,morti,casi_positivi_totali,test_eseguiti
0,2020-02-24,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,NaN
1,2020-02-24,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,NaN
2,2020-02-24,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,NaN
3,2020-02-24,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,NaN
4,2020-02-24,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,NaN

In [12]:
first_test_esen = df_covid_region[df_covid_region['test_eseguiti'] > 0] # Check where test_eseguiti is more than 0
first_test_esen.head()

,data,paese,codice_regione,nome_regione,latitudine,longitudine,pazienti_ospedalizzati,pazienti_in_terapia_intensiva,totale_pazienti_ospedalizzati,confinamento_domiciliare,casi_positivi_attuali,nuovi_casi_positivi,guariti,morti,casi_positivi_totali,test_eseguiti
1155,2020-04-19,ITA,13,Abruzzo,42.351222,13.398438,317,40,357,1630,1987,34,276,258,2521,22424.0
1156,2020-04-19,ITA,17,Basilicata,40.639471,15.805148,59,8,67,180,247,3,71,24,342,6528.0
1157,2020-04-19,ITA,18,Calabria,38.905976,16.594402,142,6,148,696,844,24,116,75,1035,22234.0
1158,2020-04-19,ITA,15,Campania,40.839566,14.250850,590,61,651,2371,3022,41,703,304,4029,34994.0
1159,2020-04-19,ITA,8,Emilia-Romagna,44.494367,11.341721,3166,289,3455,10097,13552,376,5985,3023,22560,88776.0

In [13]:
df_covid_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   data                           6027 non-null   datetime64[ns]
 1   paese                          6027 non-null   object
 2   codice_regione                 6027 non-null   int64
 3   nome_regione                   6027 non-null   object
 4   latitudine                     6027 non-null   float64
 5   longitudine                    6027 non-null   float64
 6   pazienti_ospedalizzati         6027 non-null   int64
 7   pazienti_in_terapia_intensiva  6027 non-null   int64
 8   totale_pazienti_ospedalizzati  6027 non-null   int64
 9   confinamento_domiciliare       6027 non-null   int64
 10  casi_positivi_attuali          6027 non-null   int64
 11  nuovi_casi_positivi            6027 non-null   int64
 12  guariti                        6027 non-null   int64
 13  morti                          6027 non-null   int64
 14  casi_positivi_totali           6027 non-null   int64
 15  test_eseguiti                  4872 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(10), object(2)
memory usage: 753.5+ KB

In [14]:
df_covid_region['test_eseguiti'] = pd.to_numeric(df_covid_region['test_eseguiti'], errors='coerce').fillna(0).astype(int) # Converted to int and changed NA to 0
df_covid_region.columns = ['Date', 'Country', 'RegionCode', 'RegionName', 'Latitude', 'Longitude', 
                           'HospitalizedPatients', 'PatientsInIntensiveCare', 'TotalHospitalizedPatients', 
                           'HomeConfinement', 'CurrentPositiveCases', 'NewPositiveCases', 
                           'Healed', 'Dead', 'TotalPositiveCases', 'TestsExecuted'] # Change column names
df_covid_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       6027 non-null   datetime64[ns]
 1   Country                    6027 non-null   object
 2   RegionCode                 6027 non-null   int64
 3   RegionName                 6027 non-null   object
 4   Latitude                   6027 non-null   float64
 5   Longitude                  6027 non-null   float64
 6   HospitalizedPatients       6027 non-null   int64
 7   PatientsInIntensiveCare    6027 non-null   int64
 8   TotalHospitalizedPatients  6027 non-null   int64
 9   HomeConfinement            6027 non-null   int64
 10  CurrentPositiveCases       6027 non-null   int64
 11  NewPositiveCases           6027 non-null   int64
 12  Healed                     6027 non-null   int64
 13  Dead                       6027 non-null   int64
 14  TotalPositiveCases         6027 non-null   int64
 15  TestsExecuted              6027 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(2)
memory usage: 753.5+ KB

In [15]:
cleaned_df_covid_region = df_covid_region  # Finalized version
cleaned_df_covid_region.head()

,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,PatientsInIntensiveCare,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Healed,Dead,TotalPositiveCases,TestsExecuted
0,2020-02-24,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0
1,2020-02-24,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2020-02-24,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0
3,2020-02-24,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0
4,2020-02-24,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,0

In [16]:
cleaned_df_covid_region.to_pickle("../Cleaned_datasets/cleaned_df_covid_region.pkl")

In [17]:
# To load - df = pd.read_pickle("Cleaned_datasets/cleaned_df_covid_region.pkl")