In [1]:
import pandas as pd

In [2]:
# Read Covid Province file
df_covid_province=pd.read_excel("../Datasets/Covid_province.xlsx", engine="openpyxl")
df_covid_province.head()

,"SNo, Date, Country, RegionCode, Region, ProvinceCode, ProvinceName, ProvinceAbbreviation, Latitude, Longitude, TotalPositiveCases",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0

In [3]:
df_covid_province.columns # Check columns

Index(['SNo, Date, Country, RegionCode, Region, ProvinceCode, ProvinceName, ProvinceAbbreviation, Latitude, Longitude, TotalPositiveCases',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [4]:
# Split the first column name
split_names = df_covid_province.columns[0].split(",")

# Assign new column names (if number of names matches the number of columns)
df_covid_province.columns = split_names

In [5]:
df_covid_province.head()

,SNo,Date,Country,RegionCode,Region,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24T18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24T18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24T18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24T18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0

In [6]:
df_covid_province.columns = df_covid_province.columns.str.strip() # Remove leading/trailing spaces
df_covid_province.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'Region', 'ProvinceCode',
       'ProvinceName', 'ProvinceAbbreviation', 'Latitude', 'Longitude',
       'TotalPositiveCases'],
      dtype='object')

In [7]:
#Split with 'T' and select first generated string
df_covid_province['Date'] = df_covid_province['Date'].str.split('T').str[0]
df_covid_province.head()

,SNo,Date,Country,RegionCode,Region,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,4,2020-02-24,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,NaN,NaN,0

In [8]:
df_covid_province.isna().sum() # Get the sum of missing values

SNo                        0
Date                       0
Country                    0
RegionCode                 0
Region                     0
ProvinceCode               0
ProvinceName               0
ProvinceAbbreviation    9779
Latitude                9492
Longitude               9492
TotalPositiveCases         0
dtype: int64

In [9]:
df_covid_province.shape # Check the shape of df

(40201, 11)

In [10]:
# Drop NA and check the shape of df
df_covid_province=df_covid_province.dropna()
df_covid_province.shape

(30422, 11)

In [11]:
df_covid_province.head()

,SNo,Date,Country,RegionCode,Region,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,0,2020-02-24,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,1,2020-02-24,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2,2020-02-24,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,3,2020-02-24,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
5,5,2020-02-24,ITA,17,Basilicata,76,Potenza,PZ,40.639471,15.805148,0

In [12]:
# Drop the 'SNo' column
df_covid_province.drop(['SNo'], axis=1, inplace=True)

# Reset the index
df_covid_province.reset_index(drop=True, inplace=True)

In [13]:
df_covid_province.head()

,Date,Country,RegionCode,Region,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,2020-02-24,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,2020-02-24,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2020-02-24,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,2020-02-24,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,2020-02-24,ITA,17,Basilicata,76,Potenza,PZ,40.639471,15.805148,0

In [14]:
# print number of unique regions and provinces
print(df_covid_province.Region.nunique())
print(df_covid_province.ProvinceName.nunique())

21
106

In [15]:
df_covid_province.ProvinceName.unique() # Check unique ProvinceNames

array(["L'Aquila", 'Teramo', 'Pescara', 'Chieti', 'Potenza', 'Matera',
       'Cosenza', 'Catanzaro', 'Reggio di Calabria', 'Crotone',
       'Vibo Valentia', 'Caserta', 'Benevento', 'Avellino', 'Salerno',
       'Piacenza', 'Parma', "Reggio nell'Emilia", 'Modena', 'Bologna',
       'Ferrara', 'Ravenna', 'Forl√¨-Cesena', 'Rimini', 'Udine', 'Gorizia',
       'Trieste', 'Pordenone', 'Viterbo', 'Rieti', 'Roma', 'Latina',
       'Frosinone', 'Imperia', 'Savona', 'Genova', 'La Spezia', 'Varese',
       'Como', 'Sondrio', 'Milano', 'Bergamo', 'Brescia', 'Pavia',
       'Cremona', 'Mantova', 'Lecco', 'Lodi', 'Monza e della Brianza',
       'Pesaro e Urbino', 'Ancona', 'Macerata', 'Ascoli Piceno', 'Fermo',
       'Campobasso', 'Isernia', 'Bolzano', 'Trento', 'Torino', 'Vercelli',
       'Novara', 'Cuneo', 'Asti', 'Alessandria', 'Biella',
       'Verbano-Cusio-Ossola', 'Foggia', 'Bari', 'Taranto', 'Brindisi',
       'Lecce', 'Barletta-Andria-Trani', 'Sassari', 'Nuoro', 'Cagliari',
       'Oristano', 'Sud Sardegna', 'Trapani', 'Palermo', 'Messina',
       'Agrigento', 'Caltanissetta', 'Enna', 'Catania', 'Ragusa',
       'Siracusa', 'Massa Carrara', 'Lucca', 'Pistoia', 'Firenze',
       'Livorno', 'Pisa', 'Arezzo', 'Siena', 'Grosseto', 'Prato',
       'Perugia', 'Terni', 'Aosta', 'Verona', 'Vicenza', 'Belluno',
       'Treviso', 'Venezia', 'Padova', 'Rovigo'], dtype=object)

In [16]:
df_covid_province.isna().sum() # Recheck for sum of NA values

Date                    0
Country                 0
RegionCode              0
Region                  0
ProvinceCode            0
ProvinceName            0
ProvinceAbbreviation    0
Latitude                0
Longitude               0
TotalPositiveCases      0
dtype: int64

In [17]:
df_covid_province.describe()

,RegionCode,ProvinceCode,Latitude,Longitude,TotalPositiveCases
count,30422.000000,30422.000000,30422.000000,30422.000000,30422.000000
mean,10.225265,54.066038,42.928040,12.076275,3195.726349
std,6.007691,31.279619,2.636216,2.664831,7313.303588
min,1.000000,1.000000,36.925092,7.320149,0.000000
25%,5.000000,27.000000,41.074659,9.828190,382.000000
50%,9.000000,53.500000,43.742381,12.072710,1099.500000
75%,16.000000,81.000000,45.185093,14.061850,3496.000000
max,22.000000,111.000000,46.499335,18.171897,158717.000000

In [18]:
df_covid_province.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30422 entries, 0 to 30421
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  30422 non-null  object
 1   Country               30422 non-null  object
 2   RegionCode            30422 non-null  int64
 3   Region                30422 non-null  object
 4   ProvinceCode          30422 non-null  int64
 5   ProvinceName          30422 non-null  object
 6   ProvinceAbbreviation  30422 non-null  object
 7   Latitude              30422 non-null  float64
 8   Longitude             30422 non-null  float64
 9   TotalPositiveCases    30422 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.3+ MB

In [19]:
# Convert Date into datetime format
df_covid_province['Date'] = pd.to_datetime(df_covid_province['Date'], format = "%Y-%m-%d")

In [20]:
# Rename columns
df_covid_province.columns = ['Date', 'Country', 'RegionCode', 'RegionName', 'ProvinceCode', 'ProvinceName', 'ProvinceAbbreviation', 'Latitude', 'Longitude', 'TotalPositiveCases']
df_covid_province.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30422 entries, 0 to 30421
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  30422 non-null  datetime64[ns]
 1   Country               30422 non-null  object
 2   RegionCode            30422 non-null  int64
 3   RegionName            30422 non-null  object
 4   ProvinceCode          30422 non-null  int64
 5   ProvinceName          30422 non-null  object
 6   ProvinceAbbreviation  30422 non-null  object
 7   Latitude              30422 non-null  float64
 8   Longitude             30422 non-null  float64
 9   TotalPositiveCases    30422 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 2.3+ MB

In [21]:
cleaned_df_covid_province = df_covid_province # Finalized version
cleaned_df_covid_province.head()

,Date,Country,RegionCode,RegionName,ProvinceCode,ProvinceName,ProvinceAbbreviation,Latitude,Longitude,TotalPositiveCases
0,2020-02-24,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
1,2020-02-24,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
2,2020-02-24,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,2020-02-24,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
4,2020-02-24,ITA,17,Basilicata,76,Potenza,PZ,40.639471,15.805148,0

In [22]:
cleaned_df_covid_province.to_pickle("../Cleaned_datasets/cleaned_df_covid_province.pkl")

In [23]:
# To load - df = pd.read_pickle("Cleaned_datasets/cleaned_df_covid_province.pkl")